body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
  }
  h1 {
    margin: 0;
    text-align: center;
    font-weight: 400;
  }
  h3 {
    margin: 12px 0;
    color: #006a63;
  }
  .main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  form {
    width: 100%;
    padding: 20px;
  }
  fieldset {
    border: none;
    border-top: 1px solid #006a63;
  }
  .account-details, .personal-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .account-details >div, .personal-details >div >div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .account-details >div, .personal-details >div, input, label {
    width: 100%;
  }
  label {
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
  }
  input {
    padding: 5px;
    vertical-align: middle;
  }
  .checkbox {
    margin-bottom: 10px;
  }
  select, .children, .gender, .bdate-block {
    width: calc(100% + 26px);
    padding: 5px 0;
  }
  select {
    background: transparent;
  }
  .gender input {
   width: auto;
  } 
  .gender label {
    padding: 0 5px 0 0;
  } 
  .bdate-block {
    display: flex;
    justify-content: space-between;
  }
  .birthdate select.day {
    width: 35px;
  }
  .birthdate select.mounth {
    width: calc(100% - 94px);
  }
  .birthdate input {
    width: 38px;
    vertical-align: unset;
  }
  .checkbox input, .children input {
    width: auto;
    margin: -2px 10px 0 0;
  }
  .checkbox a {
    color: #006a63;
  }
  .checkbox a:hover {
    color: #006a63;
  }
  button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #006a63; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
  }
  button:hover {
    background: #006a63;
  }
  @media (min-width: 568px) {
  .account-details >div, .personal-details >div {
    width: 50%;
  }
  label {
    width: 40%;
  }
  input {
    width: 60%;
  }
  select, .children, .gender, .bdate-block {
    width: calc(60% + 16px);
  }
  }
  html, body {
    display: flex;
    justify-content: center;
    height: 100%;
    }
    body, div, h1, form, input, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    }
    h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    p {
    font-size: 12px;
    }
    hr {
    color: #a9a9a9;
    opacity: 0.3;
    }
    .main-block {
    max-width: 700px; 
    min-height: 460px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    }
    form {
    margin: 0 30px;
    }
    .account-type, .gender {
    margin: 15px 0;
    }
    input[type=radio] {
    display: none;
    }
    label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
    }
    label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
    }
    label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #006a63;
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    input[type=text], input[type=password] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }
    input[type=password] {
    margin-bottom: 15px;
    }
    #icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #006a63;
    color: #fff;
    text-align: center;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #006a63; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }
    button:hover {
    background: #006a63;
    }
    html, body {
        min-height: 100%;
        padding: 0;
        margin: 0;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        color: #666;
        }
        h1 {
        margin: 0 0 20px;
        font-weight: 400;
        color: #006a63;
        }
        p {
        margin: 0 0 5px;
        }
        .main-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #006a63;
        }
        form {
        padding: 25px;
        margin: 25px;
        box-shadow: 0 2px 5px #f5f5f5; 
        background: #f5f5f5; 
        }
        .fas {
        margin: 25px 10px 0;
        font-size: 72px;
        color: #fff;
        }
        .fa-envelope {
        transform: rotate(-20deg);
        }
        .fa-at , .fa-mail-bulk{
        transform: rotate(10deg);
        }
        input, textarea {
        width: calc(100% - 18px);
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #006a63;
        outline: none;
        }
        input::placeholder {
        color: #666;
        }
        button {
        width: 100%;
        padding: 10px;
        border: none;
        background: #006a63; 
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        }
        button:hover {
        background: #006a63;
        }    
        @media (min-width: 568px) {
        .main-block {
        flex-direction: row;
        }
        .left-part, form {
        width: 50%;
        }
        .fa-envelope {
        margin-top: 0;
        margin-left: 20%;
        }
        .fa-at {
        margin-top: -10%;
        margin-left: 65%;
        }
        .fa-mail-bulk {
        margin-top: 2%;
        margin-left: 28%;
        }
        }